{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "@vitest"],
  "rules": {
    "no-unused-expressions": 0,
    "no-var": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "no-redeclare": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "error",
    "@typescript-eslint/explicit-module-boundary-types": "error",
    "no-dupe-class-members": "off",
    "@typescript-eslint/no-dupe-class-members": "error",
    "lines-between-class-members": "off"
  }
}
