{
  "parser": "@typescript-eslint/parser",
  "extends": ["standard", "prettier"],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "no-unused-expressions": 0,
    "no-var": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/explicit-module-boundary-types": ["error"]
  }
}
