.github
.yarn
.vscode
node_modules
src
test
coverage
docs
docs-theme
assets/logo/*
!assets/logo/jshiki-readme-banner.svg
site
jest.config.js
*.jest.config.js
.editorconfig
.eslintrc
.eslintignore
.prettierignore
.prettierrc
codecov.yml
.yarnrc.yml
jsconfig.json
tsconfig.json
mkdocs.yml
requirements.txt
svgo.config.js
typedoc.js
yarn.lock
release-changelog.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
