<!-- prettier-ignore -->
{% extends "base.html" %}

{% block extrahead %}
<link rel="stylesheet" href="{{ 'css/home.css' | url }}" />
<!-- prettier-ignore -->
{% endblock %}

{% block tabs %}
{{ super() }}
<style>
  .md-header {
    position: initial;
  }

  .md-main__inner {
    margin: 0;
  }

  .md-content {
    display: none;
  }

  @media screen and (min-width: 60em) {
    .md-sidebar--secondary {
      display: none;
    }
  }

  @media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
      display: none;
    }
  }
</style>

<section class="homepage-hero-wrapper">
  <div class="md-grid md-typeset">
    <div class="homepage-hero">
      <div id="homepage-playground">
        <div id="playground-placeholder">
          <pre class="placeholder-code">
              <div class="gutter"></div>
<span>const jshiki = require(&#39;jshiki&#39;)</span><br />
<span></span><br />
<span>const expressionSource = &#39;`Hello! My name\&#39;s ${name}`&#39;</span><br />
<span></span><br />
<span>const expression = jshiki.parse(expressionSource)</span><br />
<span></span><br />
<span>expression({ name: &#39;Azumi&#39; })</span>
            </pre>
        </div>
      </div>

      <script src="https://embed.runkit.com"></script>
      <script>
        ;(() => {
          const playground = document.getElementById('homepage-playground')
          const placeholder = document.getElementById('playground-placeholder')
          RunKit.createNotebook({
            element: playground,
            gutterStyle: 'inside',
            source: placeholder.innerText.trim(),
            evaluateOnLoad: true,
            nodeVersion: '> 14.x',
            onLoad: embed => {
              placeholder.remove()
              embed.width = '100%'
            },
          })
        })()
      </script>

      <div class="homepage-hero-content">
        <h1>Lightweight and safe expression evaluation</h1>
        <p>
          Evaluate Javascript expressions safely and easily with jshiki's simple
          API.
        </p>
        <a href="user-guide/" class="md-button md-button--primary">
          Get Started
        </a>
        <a href="https://github.com/adalinesimonian/jshiki" class="md-button">
          GitHub
        </a>
      </div>
    </div>
  </div>
</section>
<section class="homepage-content">
  <div class="md-grid md-typeset">
    <div class="jumbotron vertical">
      <h1>What is jshiki?</h1>
      <div>
        jshiki is a lightweight, single-dependency library for evaluating
        expressions in JavaScript. jshiki only lets expressions access data you
        explicitly provide, and also provides rule-based access control that
        lets you determine what data is accessible.
      </div>
    </div>
  </div>
</section>
<section class="homepage-content">
  <div class="md-grid md-typeset">
    <div class="jumbotron horizontal">
      <h1>Simple API</h1>
      <div>
        You can get started with jshiki in just a few lines of code. Just
        require or import jshiki and use the
        <a href="api/index.html#evaluate">evaluate</a> or
        <a href="api/index.html#parse">parse</a> functions!
      </div>
    </div>
  </div>
</section>
<section class="homepage-content">
  <div class="md-grid md-typeset">
    <div class="jumbotron horizontal">
      <h1>Lightweight</h1>
      <div>
        jshiki only has one dependency:
        <a href="https://github.com/acornjs/acorn">acorn</a>, a small, fast
        Javascript parser.
      </div>
    </div>
  </div>
</section>
<section class="homepage-content">
  <div class="md-grid md-typeset">
    <div class="jumbotron horizontal">
      <h1>Worry-free</h1>
      <!-- prettier-ignore -->
      <div>
        <p>
          jshiki <a href="user-guide/#preventing-data-manipulation">only allows
          expressions to access data you explicitly provide them with</a>, and
          denies access to globals or the use of assignment.
        </p>
        <p>
          Additionally, <a href="user-guide/rules/">you can configure rules</a>
          that determine which properties of objects are accessible and which
          aren't using an easy-to-use syntax.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- prettier-ignore -->
{% endblock %}

{% block content %}{% endblock %}
