name: Main

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Node.js ${{ matrix.node }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x, 25.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run tests
        run: yarn test-ci

      - name: Upload unit test coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: coverage/unit
          flags: unit

      - name: Upload functional test coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: coverage/functional
          flags: functional
